@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the Data-Driven Professional Development app!</h1>
            </hgroup>
            <p>
                This app enables you to see your personalized learning plan.  We'll show you areas
                of focus for professional development 
                and match you to the exact resources you need based on the 1) achievement of your
                students, 2) your own self-assessments, and 
                3) guidance from your mentor / instructional coach.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<div class="expand-collapse expanded">
    <h5>Common Core / Standards</h5>
</div>
<div>
    <ul>
        <li class="expand-collapse expanded">Reading and writing</li>
        <ul>
            <li>1.2.3.a - <a href="/Home/Resources">Main idea and blah blah blah</a></li>
            <li>1.2.3.b - <a href="/Home/Resources">Details and blah blah blah</a></li>
        </ul>
        <li class="expand-collapse expanded">Mathematics</li>
        <ul>
            <li>4.2.3.a - <a href="/Home/Resources">Fractions and blah blah blah</a></li>
            <li>4.2.3.b - <a href="/Home/Resources">Decimals and blah blah blah</a></li>
        </ul>
    </ul>
</div>
<div class="expand-collapse expanded">
    <h5>Self-assessment</h5>
</div>
<div>
    <ul>
        <li><a href="#">Take a self assessment</a></li>
    </ul>
</div>
<div class="expand-collapse expanded">
    <h5>Mentoring / Instructional Coach</h5>
</div>
<div>
    <ul>
        <li><a href="#">Schedule session with your instructional coach</a></li>
    </ul>
</div>
