@{
    ViewBag.Title = "My PD Plan";
}
<h2>@ViewBag.Title</h2>

<h3>Based on your profile, we suggest the following:</h3>
<div class="expand-collapse expanded">
    <h5>Common Core / Standards</h5>
</div>
<div>
    <ul>
        <li>Reading and writing</li>
        <ul>
            <li><a href="/Home/Resources">CCSS.ELA-Literacy.RL.4.1</a> Refer to details and examples
                in a text when explaining what the text says explicitly and when drawing inferences
                from the text.</li>
            <li><a href="/Home/Resources">CCSS.ELA-Literacy.RL.4.2</a> Determine a theme of a story,
                drama, or poem from details in the text; summarize the text.</li>
            <li><a href="/Home/Resources">CCSS.ELA-Literacy.RL.4.3</a> Describe in depth a character,
                setting, or event in a story or drama, drawing on specific details in the text (e.g.,
                a character’s thoughts, words, or actions).</li>
        </ul>
    </ul>
</div>
<div class="expand-collapse expanded">
    <h5>Self-assessment</h5>
</div>
<div>
    <ul>
        <li><a href="#">Take a self assessment</a></li>
    </ul>
</div>
<div class="expand-collapse expanded">
    <h5>Mentoring / Instructional Coach</h5>
</div>
<div>
    <ul>
        <li><a href="#">Schedule session with your instructional coach</a></li>
    </ul>
</div>
