@{
    ViewBag.Title = "Resources";
}

<h2>Resources</h2>

<ul>
    <li class="expand-collapse expanded">Reading and writing</li>
    <ul>
        <li>1.2.3.a - Main idea and blah blah blah</li>
        <li>1.2.3.b - Details and blah blah blah</li>
    </ul>
    <li class="expand-collapse expanded">Mathematics</li>
    <ul>
        <li>4.2.3.a - Fractions and blah blah blah</li>
        <li>4.2.3.b - Decimals and blah blah blah</li>
    </ul>
</ul>
