@{
    ViewBag.Title = "My PD Resources";
}

<h2>@ViewBag.Title</h2>

<div class="expand-collapse expanded">
    <h5>Reading and writing</h5>
</div>

<ul>
    <li><b>CCSS.ELA-Literacy.RL.4.1</b> - Refer to details and examples
            in a text when explaining what the text says explicitly and when drawing inferences
        from the text.
        <div style="padding-top: 10px;">
            <div style="width: 33%; float: left; padding-bottom: 20px;">
                <div class="feed-item-content-wrapper clearfix context-data-item" data-context-item-title="Les Miles' Fiery Postgame Tirade"
                    data-context-item-type="video" data-context-item-time="1:56" data-context-item-user="ESPN"
                    data-context-item-id="6eajha9GPE8" data-context-item-views="2,058 views" data-context-item-actionuser="ESPN">
                    <div class="feed-item-thumb">
                        <a class="ux-thumb-wrap contains-addto  yt-uix-contextlink yt-uix-sessionlink" data-sessionlink="ei=CPGKw_-E2bMCFRKZIQodknoXoQ%3D%3D&amp;context=G2a90cdeYTAAAAAAAAAA"
                            href="/watch?v=6eajha9GPE8&amp;feature=g-trend">
                            <span class="video-thumb ux-thumb yt-thumb-default-185 "><span class="yt-thumb-clip">
                                <span class="yt-thumb-clip-inner">
                                    <img src="//i3.ytimg.com/vi/6eajha9GPE8/mqdefault.jpg" alt="Thumbnail" data-thumb="//i3.ytimg.com/vi/6eajha9GPE8/mqdefault.jpg"
                                        width="185"><span class="vertical-align"></span></span></span></span>

                        </a>

                    </div>
                    <div class="feed-item-content">

                        <h4>
                            <a class="feed-video-title title yt-uix-contextlink  yt-uix-sessionlink " href="/watch?v=6eajha9GPE8&amp;feature=g-trend"
                                data-sessionlink="ei=CPGKw_-E2bMCFRKZIQodknoXoQ%3D%3D&amp;feature=g-trend&amp;context=G2a90cdeYTAAAAAAAAAA">
                                Les Miles' Fiery Postgame Tirade
                            </a>
                        </h4>

                    </div>
                </div>
            </div>
            <div style="width: 33%; float: left; padding-bottom: 20px;">
                <div class="feed-item-content-wrapper clearfix context-data-item" data-context-item-title="Too Many Oranges"
                    data-context-item-type="video" data-context-item-time="0:14" data-context-item-user="MrPoniator"
                    data-context-item-id="AC8PFdELtkA" data-context-item-views="8,763 views" data-context-item-actionuser="MrPoniator">
                    <div class="feed-item-thumb">
                        <a class="ux-thumb-wrap contains-addto  yt-uix-contextlink yt-uix-sessionlink" data-sessionlink="ei=CPGKw_-E2bMCFRKZIQodknoXoQ%3D%3D&amp;context=G2d6bc51YTAAAAAAABAA"
                            href="/watch?v=AC8PFdELtkA&amp;feature=g-trend">
                            <span class="video-thumb ux-thumb yt-thumb-default-185 "><span class="yt-thumb-clip">
                                <span class="yt-thumb-clip-inner">
                                    <img src="//i2.ytimg.com/vi/AC8PFdELtkA/mqdefault.jpg" alt="Thumbnail" data-thumb="//i2.ytimg.com/vi/AC8PFdELtkA/mqdefault.jpg"
                                        width="185"><span class="vertical-align"></span></span></span></span>

                        </a>

                    </div>
                    <div class="feed-item-content">

                        <h4>
                            <a class="feed-video-title title yt-uix-contextlink  yt-uix-sessionlink " href="/watch?v=AC8PFdELtkA&amp;feature=g-trend"
                                data-sessionlink="ei=CPGKw_-E2bMCFRKZIQodknoXoQ%3D%3D&amp;feature=g-trend&amp;context=G2d6bc51YTAAAAAAABAA">
                                Too Many Oranges
                            </a>
                        </h4>

                    </div>
                </div>
            </div>
        </div>
    </li>
    <li style="clear: both;"><b>CCSS.ELA-Literacy.RL.4.2</b> - Determine a theme of a story,
        drama, or poem from details in the text; summarize the text.
        <div style="padding-top: 10px;">
            <div style="width: 33%; float: left; padding-bottom: 20px;">
                <div>
                    <img src="~/Images/pdf.jpg" />
                </div>
                <div>
                    <h4>
                         <a class="feed-video-title title yt-uix-contextlink  yt-uix-sessionlink " href="#"
                            data-sessionlink="ei=CPGKw_-E2bMCFRKZIQodknoXoQ%3D%3D&amp;feature=g-trend&amp;context=G2d6bc51YTAAAAAAABAA">
                             Teaching theme finding in poetry
                         </a>
                     </h4>
                </div>
            </div>
        </div>
    </li>
    <li style="clear: both;"><b>CCSS.ELA-Literacy.RL.4.3</b> - Describe in depth a character,
        setting, or event in a story or drama, drawing on specific details in the text
        (e.g.,
            a character’s thoughts, words, or actions).
        <div style="padding-top: 10px;">
            <div style="width: 33%; float: left; padding-bottom: 20px;">
                <div class="feed-item-content-wrapper clearfix context-data-item" data-context-item-title="Wii U - Review"
                    data-context-item-type="video" data-context-item-time="6:44" data-context-item-user="polygon"
                    data-context-item-id="_QCKkznwlvA" data-context-item-views="5,127 views" data-context-item-actionuser="polygon">
                    <div class="feed-item-thumb">
                        <a class="ux-thumb-wrap contains-addto  yt-uix-contextlink yt-uix-sessionlink" data-sessionlink="ei=CPGKw_-E2bMCFRKZIQodknoXoQ%3D%3D&amp;context=G2fc6ce5YTAAAAAAACAA"
                            href="/watch?v=_QCKkznwlvA&amp;feature=g-trend">
                            <span class="video-thumb ux-thumb yt-thumb-default-185 "><span class="yt-thumb-clip">
                                <span class="yt-thumb-clip-inner">
                                    <img src="//i4.ytimg.com/vi/_QCKkznwlvA/mqdefault.jpg" alt="Thumbnail" data-thumb="//i4.ytimg.com/vi/_QCKkznwlvA/mqdefault.jpg"
                                        width="185"><span class="vertical-align"></span></span></span></span>
                        </a>

                    </div>
                    <div class="feed-item-content">

                        <h4>
                            <a class="feed-video-title title yt-uix-contextlink  yt-uix-sessionlink " href="/watch?v=_QCKkznwlvA&amp;feature=g-trend"
                                data-sessionlink="ei=CPGKw_-E2bMCFRKZIQodknoXoQ%3D%3D&amp;feature=g-trend&amp;context=G2fc6ce5YTAAAAAAACAA">
                                Wii U - Review
                            </a>
                        </h4>

                    </div>
                </div>
            </div>

        </div>
    </li>
</ul>
