@if (Request.IsAuthenticated) {
    <div style="float:left;">
        <div>
            Hello, Mr. T
        </div>
        <div style="padding-top: 5px;">
            <a href="#">Log off</a>
        </div>
    </div>
    <div style="float:right; padding-left: 5px;">
        <a href="/Home/MyProfile">
            <img src="~/Images/mr-t-is-here.png" width="45" />
        </a>
    </div>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
